h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}
h3{
    font-weight: lighter;
}
.post-meta{
    color:rgb(144, 149, 153);
    font-style: italic;
}
.img-fluid{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
