
body{
    background-color: whitesmoke;
}
h1{
    color: rgb(5, 5, 97);
    font-family: cursive;
    font-size: 60px;
}

.h2bold{
    color: rgb(0, 0, 110);
}

.h3bold{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 123);
}

.h3italizise{
    font-weight: normal;
    color: rgb(0, 0, 136);
    font-family:'Times New Roman', Times, serif ;
    font-style: italic; 
}

.keypoints{
    font-weight: light;
    color:black;
    font-family:monospace;
    font-size: 13px;
    
}

.bodytextcenter{
    text-align: center;
}
.bodytextleft{
    display: inline-block;
    text-align: left;
    max-width: 33%;
    background-color:lightgrey;
    padding: 10px;
}

.eb-ol{text-align: center;}
.eb-ol{ display: inline-block;
    text-align: left;
    max-width: 33%;}

.eb-ul{text-align: center;}
.eb-ul{ display: inline-block;
    text-align: left;
    max-width: 33%;}

.footer{
    background-color:rgb(5, 5, 97) ;
    color: whitesmoke;
    padding: 20px;
    width: 100%;
    text-align: center;
}


